[submodule "terraform-aws-security-group"]
	path = terraform-aws-security-group
	url = https://github.com/HiroyukiYagihashi/terraform-aws-security-group.git
[submodule "terraform-aws-vpc"]
	path = terraform-aws-vpc
	url = https://github.com/HiroyukiYagihashi/terraform-aws-vpc.git
[submodule "terraform-aws-iam-role"]
	path = terraform-aws-iam-role
	url = https://github.com/HiroyukiYagihashi/terraform-aws-iam-role.git